# Entornos Virtuales
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# ProfeIC Data
*.csv
